@use '../vendors/' as *;

img {
	/* renders alt text italic if image is not avail */
	font-style: italic;
}

#hero-image {
	block-size: 100%;
}

// breakpoint when images goes aside
@include media-breakpoint-down(bg-image-aside) {
	#hero-image {
		inline-size: 100vw;
		block-size: 250px;
	}
}

