img {
	/* renders alt text italic if image is not avail */
	font-style: italic;
}

#hero-image {
	object-fit: cover;
	block-size: 100%;
}

@media screen and (max-width: 1024px) {
	#hero-image {
		inline-size: 100%;
		block-size: 350px;
	}
}

