@use '../vendors/' as *;

body {
	min-height: 100vh;
	min-height: 100svh;
	height: 100vh;
}

// 1040px
@include media-breakpoint-up(bg-image-aside) {
	body {
		--bg-image-min-width: 450px;

		display: grid;
		grid-template-columns: minmax(var(--bg-image-min-width), 1fr) 1fr 1fr;
		grid-template-areas:
			'heroImage header header'
			'heroImage main main'
			'heroImage footer footer';
	}

	header {
		grid-area: header;
	}

	main {
		grid-area: main;
	}

	#hero-image {
		grid-area: heroImage;
	}

	footer {
		grid-area: footer;
	}
}

// 1400px
@include media-breakpoint-up(xxl) {
	body {
		--bg-image-min-width: 650px;
	}
}

// 1600px
@include media-breakpoint-up(bg-image-50vw) {
	body {
		--bg-image-min-width: 50vw;
	}
}

