@use '../vendors/' as *;

body {
	min-height: 100vh;
	min-height: 100svh;
	height: 100vh;
}

// 1120px
@include media-breakpoint-up(bg-image-aside) {
	body {
		display: grid;
		grid-template-columns: minmax(450px, 1fr) 1fr 1fr;
		grid-template-areas:
			'heroImage header header'
			'heroImage main main'
			'heroImage footer footer';
	}

	header {
		grid-area: header;
	}

	main {
		grid-area: main;
	}

	#hero-image {
		grid-area: heroImage;
	}

	footer {
		grid-area: footer;
	}
}

