@use './../abstracts/' as *;

form {
	--label-inline-size: 210px;
	--label-right-margin-xxl: 1rem;
}

// copy of input focus styles
button:focus-visible {
	outline: 4px solid #86b7fe !important;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

// form initial width
form {
	max-inline-size: 600px;
}

// resetting reboot.scss style
p.info {
	margin-block-end: 0rem;
}

// adding whitespace
@include media-breakpoint-down(bg-image-aside) {
	form {
		margin-block-start: 3rem;
	}

	header {
		margin-block-end: 2rem;
	}

	main {
		margin-block-end: 4rem;
	}
}

// adding distance form bg-image
@include media-breakpoint-up(bg-image-aside) {
	form {
		padding-inline: 4rem;
	}
}

@include media-breakpoint-up(xxl) {
	//  making form two columns: label | input
	.form-group {
		display: flex;
	}

	// extending form width for larger screens
	form {
		max-inline-size: 800px;
	}

	label {
		inline-size: var(--label-inline-size);
	}

	// aligning with labels
	p.info:has(+ .form-group) {
		margin-inline-start: calc(
			var(--label-inline-size) + var(--label-right-margin-xxl)
		);
	}
}

form[data-invisible='true'] {
	display: none !important;
}

